@charset "utf-8";

.siteBarBaseFont
{
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

.siteBarPageBackground
{
    background: #FFFFFF;
}

.siteBar .cmnTitle
{
    color: #333;
    background: #8899aa;
}

.siteBar .cmnTitleColorInverse
{
    color: #8899aa;
}

.siteBar .cmnSubTitle
{
    color: #333;
    background: #fffffa;
}

.siteBar .cmnSubTitleColorInverse
{
    color: #fffffa;
}

.siteBar .cmnMenu
{
    background: #EDF2FC;
}

.siteBar .cmnMenuItem
{
    color: #FFFFFF;
    background: #6487DC;
}

.siteBar table th
{
    background: #8899aa;
    color: #333;
}
