@charset "utf-8";

.siteBarBaseFont
{
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.siteBarPageBackground
{
    background: white;
}

.siteBar .cmnTitle
{
    color: white;
    background: #295bb1;
}

.siteBar .cmnTitleColorInverse
{
    color: #295bb1;
}

.siteBar .cmnSubTitle
{
    color: #295bb1;
    background: #b2ccf7;
}

.siteBar .cmnSubTitleColorInverse
{
    color: #b2ccf7;
}

.siteBar .cmnMenu
{
    background: #f6f6f6;
}

.siteBar .cmnMenuItem
{
    background: #ffeec2;
}

.siteBar table th
{
    background: #b2ccf7;
}
